body {
    margin: 0;
    background-color: #141414;
    color: #e1e3e6;
    font-family: sans-serif;
}

/* Header */
header {
    background-color: #222222;
    border-bottom: 1px solid #292929;
    height: 48px;
    display: flex;
}

header div {
    display: flex;
    padding: 5px;
    flex-grow: 1;
}

header div a{
    color: #e1e3e6;
    text-decoration: none;
    font-size: 28px;
    font-weight: lighter;
    padding-top: 3px;
}

#logo img{
    height: 100%;
}

#donate a{
    color: brown;
    text-decoration: none;
    font-size: 28px;
    font-weight: lighter;
    padding-top: 3px;
}

#search form{
    display: flex;
    align-items: center;
}

#search input.search{
    background-color: #424242;
    background-image: url(../img/search.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 34px;
    border-radius: 8px;
    border: 0;
    color: #e1e3e6;
    line-height: 28px;
    height: 32px;
}

#search input.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b2b2b2;
    opacity: 1; /* Firefox */
  }
  
#search input.search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b2b2b2;
  }
  
#search input.search::-ms-input-placeholder { /* Microsoft Edge */
    color: #b2b2b2;
  }

#login {
    justify-content: flex-end;
    padding-right: 25px;
}