body {
    margin: 0;
    background-color: #141414;
    color: #e1e3e6;
    font-family: sans-serif;
}

/* Header */
header {
    background-color: #222222;
    border-bottom: 1px solid #292929;
    height: 48px;
    display: flex;
}

header div {
    display: flex;
    padding: 5px;
    flex-grow: 1;
}

header div a{
    color: #e1e3e6;
    text-decoration: none;
    font-size: 28px;
    font-weight: lighter;
    padding-top: 3px;
}

#logo img{
    height: 100%;
}

#donate a{
    color: brown;
    text-decoration: none;
    font-size: 28px;
    font-weight: lighter;
    padding-top: 3px;
}

#search form{
    display: flex;
    align-items: center;
}

#search input.search{
    background-color: #424242;
    background-image: url(../img/search.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 34px;
    border-radius: 8px;
    border: 0;
    color: #e1e3e6;
    line-height: 28px;
    height: 32px;
}

#search input.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b2b2b2;
    opacity: 1; /* Firefox */
  }
  
#search input.search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b2b2b2;
  }
  
#search input.search::-ms-input-placeholder { /* Microsoft Edge */
    color: #b2b2b2;
  }

#logBut{
    justify-content: flex-end;
    padding-right: 3%;
    flex-grow: 0.5;
}

#loginWindow {
    visibility: hidden;
    position: absolute;
    background: #292929;
    overflow: hidden;
    right: 2%;
    min-width: 176px;
    width: auto;
    transition: opacity 100ms linear, visibility 100ms linear, transform 100ms linear;
}

#loginWindow p {
    font-size: 20px;
    padding: 0 16px;
    margin: 5px 0;
}

#loginWindow input, #loginWindow button {
    display: flex;
    align-items: center;
    margin: 0 16px;
    height: 28px;
    font-size: 20px;
}

#loginWindow button {
    margin-bottom: 10px;
}